# --- PYTHON & POETRY ---
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.mypy_cache/
dist/
build/
poetry.lock.backup

# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# --- DOCKER & LOCALSTACK ---
docker/localstack/volume/
.localstack/

# --- SECRETOS & CONFIG (CRÍTICO) ---
.env
.env.*
*.pem
*.key
secrets.json

# --- IDEs ---
.vscode/
.idea/
*.swp
.DS_Store (si usas Mac)
