VITE_OBSERVABILITY_API_URL=https://mjreuzjsk2.execute-api.us-east-1.amazonaws.com/develop/observability
VITE_COGNITO_ISSUER=https://nocturne-observability-dev-380894.auth.us-east-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=replace_with_cognito_client_id
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_COGNITO_LOGOUT_URI=http://localhost:5173/
